body{
    font-family: Roboto, sans-serif;  
    color: #2E0E02;
}
#menubalk li{
    color: #EBCBF4;
    font-size: 1.1em;
}
#logo p{
    font-size:5em;
    font-family: ;
    color:#EBCBF4 ;
    margin-top: 0;
    margin: 0 5em 5em 5em;
    padding-left: 0;
    filter: drop-shadow(5px 10px 4px rgba(0,0,0,0.89));
}
article h1{
    margin-top: 0em;
    
    padding-top: 1em;
    
    padding-bottom: 1em;
}
article p{
    margin-bottom: 0em;
    padding-bottom: 1em;
}
#ulp{
    float: left;
    margin-top: 0;
    padding-bottom: 0;
}
#ulp p{
    padding-bottom: 0;
}
nav h1 {
    font-variant: small-caps;
    margin-bottom: 10px;
}


footer{
    font-size: 1.5em;
}
